@charset "UTF-8";

/* font */

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* normalize */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    min-width: 300px;
    height: 100%;
    font-family: 'MaplestoryOTFLight', 'MaplestoryOTFBold', 'Open Sans', 'Noto Sans KR', sans-serif;
    color: #513535;
    font-size: 10px;
    overflow-x: hidden;
    background-color: #FFCD5A;
}

a,
img {
    display: block;
}

/* animation */
@keyframes shine-effect {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes egg-shake {
    0% {

        transform: rotateZ(3deg);
    }

    100% {
        transform: rotateZ(-3deg);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateX(13.424px) translateY(9px);
        opacity: 1;
    }

    100% {
        transform: translateX(13.424px) translateY(15px);
        opacity: 0.3;
    }
}

@keyframes balloon-float{
    0%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes pro-ani{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes prev-btn {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-10px);
    }
}

@keyframes next-btn {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(10px);
    }
}

/* @keyframes line-deco-ani{
    0%{
        transform: scaleX(0) inherit;
    }
    100%{
        transform: scaleX(1) inherit;
    }
} */

/* lib */

.mb{
    display: none;
}

.mb-s{
    display: none;
}

.con {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.margin-0-auto {
    margin: 0 auto;
}

.height-100p {
    height: 100%;
}

.img-box img {
    width: 100%;
}

.bold {
    font-family: 'MaplestoryOTFBold', sans-serif;
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.sans-kr {
    font-family: 'Noto Sans KR', sans-serif;
}

.text-ai-c {
    text-align: center;
}


.flex {
    display: flex;
}

.flex-jc-a {
    justify-content: space-around;
}

.flex-jc-b {
    justify-content: space-between;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-d-c {
    flex-direction: column;
}

.btn-red{
    position: relative;
    font-size: 1.6em;
    padding: 15px 35px;
    border: 2px solid #FF2929;
    color: #FF2929;
    border-radius: 30px;
    overflow: hidden; 
    transition: background-color 0.3s, color 0.3s;   
}

.btn-red:hover{
    /* background-color: #FF2929; */
    color: #fff;
    
}

.btn-red::before{
    content: "";
    display: block;
    clear: both;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 0;    
    background-color: #FF2929;
    transition: width 0.3s, opacity 0.3s;
}

.btn-red:hover::before{
    width: 100%;
    opacity: 1;
}

.outline-yellow {
    border: 25px solid #FFCD5A;
    border-radius: 50px;
    overflow: hidden;
}

.relative {
    position: relative;
}

.title-box {
    z-index: 5;
}

.section-title {
    font-size: 4.5rem;
}

.section-title:not(.underline) {
    position: relative;
    z-index: 1;
}

.step-count {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.underline {
    position: relative;
    z-index: 1;
}

.underline::before {
    position: absolute;
    content: "";
    display: block;
    clear: both;
    width: 102%;   
    height: 24px;
    background: #fff;
    border-radius: 12px;
    top: 80%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scaleX(0);
    transition: transform 0.5s 0.5s;
    transform-origin: left;
}
/* animation apply start */

.slick-next img{
   animation: next-btn 0.7s ease-out infinite alternate both;
}

.slick-prev img{
    animation: prev-btn 0.7s ease-out infinite alternate both; 
}

section.active .underline::before{
    transform: translateX(-50%) translateY(-50%) scaleX(1);
}

section.active .metamong{
    animation: rubberBand 1s ease-in-out 0.5s 1 normal;
}

#step-4-5.active .img-con{
    animation: fadeIn 1s 0.3s both;
    
}

#step-3.active .title-box{
    animation: bounce 1s 0.3s both;
}

#step-5.active .con > .card-con > .card:first-child{
    animation: bounceIn 0.5s 0.3s backwards;
}

#step-5.active .con > .card-con > .card:nth-child(2){
    animation: bounceIn 0.5s 0.6s backwards;
}

#step-5.active .con > .card-con > .card:nth-child(3){
    animation: bounceIn 0.5s 0.9s backwards;
}

/* #step-1.active .con>.text-box>.line-deco, #step-4.active .con > .title-box::after, #step-4-5.active .title-box > .line-deco , #step-5.active .con > .title-box::after{
    animation: line-deco-ani 1s ease-in-out 0.3s 1 both;
} */





/* animation apply end */

.underline.yellow::before{
    background: #FFCD5A;
}

.underline.small::before{
    height: 12px;
}



.big {
    font-size: 1.2em;
}

.line-deco {
    width: 30px;
    height: 2px;
    background-color: rgba(81, 53, 53, 0.5);
    display: block;
    transform: rotateZ(-45deg);
}

.text-box{
    word-break: keep-all;
}


/* cus */
/* slick slide */
.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

/* header start */
header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

header>.con {
    width: 100%;
    height: 100px;
}

header>.con>.logo img {
    width: auto;
    height: 50px;
}

header>.con>.logo:hover {
    transform-origin: center bottom;
    animation: egg-shake 0.3s ease-in-out 0s infinite alternate;
}

header>.con>.sns-menu {
    font-size: 2em;
}

header>.con>.sns-menu>li>a {
    opacity: 0.6;
    margin-right: 30px;
    transition: opacity 0.3s;
}

header>.con>.sns-menu>li:hover>a {
    opacity: 1;
}

header>.con>.sns-menu>li:last-child>a {
    margin-right: 0;
}

/* header end */
/* fullpage navigation start */
#fp-nav.fp-left {
    left: 60px;
}

#fp-nav ul li {
    width: 20px;
    height: 20px;


}

#fp-nav ul li .fp-tooltip {
    color: #513535;
    font-family: 'MaplestoryOTFLight', 'Open Sans', 'Noto Sans KR', sans-serif;
    top: 4px;
}

#fp-nav ul li .fp-tooltip.fp-left {
    left: 30px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    margin: 20px 0;
}

#fp-nav ul li a span {
    background-color: transparent;
    border-radius: unset;
    top: unset;
    left: unset;
    opacity: 0.5;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 20px;
    height: 20px;
    margin: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    width: 20px;
    height: 20px;
    margin: 0;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 20px;
    height: 23px;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#fp-nav ul li a span {
    background-image: url(../img/icon-pokeball.png);
    background-size: 100%;
}

#fp-nav ul li a.active span {
    background-image: url(../img/icon-pokeball-selected.png);


}

/* fullpage navigation end */

/* metamong comment */
div.comment>div.text-box {
    font-size: 1.5em;
    margin-left: 10px;
    /* text-align: center; */
}

/* section start */
/* main start */

#main {
    background-image: url('../img/bg-decoration.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

#main .con>.egg {
    width: 30%;
    position: relative;
    margin-bottom: 7%;
}

#main .con>.egg>img {
    /* egg image */
    position: relative;
    z-index: 1;
    transform-origin: center bottom;
    animation: egg-shake 0.8s ease-in-out 0s infinite alternate;
}

#main .con>.egg::after {
    /* egg shine */
    content: "";
    width: 200%;
    height: 100%;
    display: block;
    clear: both;
    background-size: contain;
    background-image: url(../img/img-shine.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: -20%;
    left: 55%;
    transform: translateX(-50%);
    animation: shine-effect 1s ease-in-out 0s infinite alternate;
}

#main .con>.egg>.title-box {
   padding: 40%;
    background-image: url(../img/img-title-deco.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main .con>.egg>.title-box>h1 {
    font-size: 3.4em;
    color: #fff;
    margin-bottom:5%;
    white-space: nowrap;
}

#main .con>.egg>.title-box>h1>span {
    font-size: 1.4em;
    color: #FFE223;
}

#main .con>.scroll-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#main .con>.scroll-down>svg {
    position: relative;
}

#main .con>.scroll-down #circle1 {
    position: absolute;
    transform: translateX(13.424px) translateY(9px);
    animation: scroll-down 1s ease-in-out 0s infinite normal both;
}

#main .con>.scroll-down>.text-box {
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 700;
}

/* main end */
/* step 1  start*/
#step-1 {
    margin-top: 120px;
    padding: 120px 0;
    position: relative;
    overflow-y: visible;
    /* padding: 50px 0 50px 0; */
    background-color: #FFE48B;


}

#step-1::before,
#step-1::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 28%;
    background-repeat: repeat-x;
    background-size: 100% auto;
    background-position: bottom center;
    z-index: 1;
}

#step-1::before {
    /* bg deco top */

    bottom: 99%;
    background-image: url(../img/bg-step1-top.png);


}

#step-1::after {
    /* bg deco bottom */
    top: 99%;
    background-image: url(../img/bg-step1-top.png);
    transform: rotate(180deg);


}

#step-1 .con .img-wrap>.img-box {
    max-width: 550px;
}

#step-1 .con .img-wrap>.metamong {
    position: absolute;
    left: -15%;
    bottom: -15%;

}

#step-1 .con .img-wrap>.deco {
    position: absolute;
    right: -80px;
    top: 85%;

}

#step-1 .con>.text-box {
    margin-right: 120px;
}

#step-1 .con>.text-box>.line-deco {
    margin: 40px auto;
}

#step-1 .con>.text-box>.text-content {
    font-size: 1.6em;
    line-height: 2em;
}



/* step 1 end */
/* step 2 start */
#step-2 {
    background-color: #FCF5DF;
}


#step-2 .con>.title-box {
    text-align: center;
    margin-bottom: 70px;
}

#step-2 .con>.title-box>.step-count {
    left: 50%;
    transform: translateX(-50%);
}

#step-2 .con>.card-slide {
    padding: 0 50px;
}

#step-2 .con>.card-slide .card {
    margin: 0 5px;
    opacity: 0.5;
    padding: 25px 0;
    transform: scale(0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s;
    overflow: visible;


}

#step-2 .con>.card-slide .card.slick-active {
    opacity: 1;
    transform: scale(0.92);
}

#step-2 .con>.card-slide .card>img {

    width: 80%;

}

#step-2 .con>.card-slide .card>img[alt="pokedex"] {
    transform: translateY(10px);
}

#step-2 .con>.card-slide .card>.card-num {
    font-size: 5em;
    font-family: 'MaplestoryOTFBold', sans-serif;
    position: absolute;
    top: -2.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 6;
}

#step-2 .slick-arrow::before, #step-4 .slick-arrow::before {
    content: "";

}

#step-2 .slick-arrow.slick-prev,
#step-2 .slick-arrow.slick-next,
#step-4 .slick-arrow.slick-prev,
#step-4 .slick-arrow.slick-next {
    width: auto;
    height: auto;
    z-index: 7;
}

#step-2 .slick-arrow.slick-prev,
#step-4 .slick-arrow.slick-prev {
    left: 0px;
}

#step-2 .slick-arrow.slick-next,
#step-4 .slick-arrow.slick-next {
    right: 0px;
}

#step-2 .con>.card-slide>.card-name {
    width: 38%;
    height: 120px;
    background-image: url(../img/bg-slide-name.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3.5em;
    color: #fff;
    padding-bottom: 7px;
    z-index: 5;

}



#step-2 .con>div.comment {
    margin-top: 100px;

}



/* step 2 end */
/* step 3 start */

#step-3{
    overflow: hidden;
}

#step-3 .con {
    height: 119.62vw !important;
    padding-top: 160px;
    padding-bottom: 160px;

}

#step-3 .con::after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100%;
    background-image: url(../img/bg-roadmap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -1;
}

/* step 3 start */


#step-3 .con > .bubble-wrap > .bubble{
    width: 33%;
     position: absolute;
     transform: translateX(-50%);
     left: 53%;
}

#step-3 .con > .bubble-wrap > .bubble:nth-child(2n){
    left: 42%;
}

#step-3 .con > .bubble-wrap > .bubble:first-child{
    top: 23%;   
}

#step-3 .con > .bubble-wrap > .bubble:nth-child(2){
    top: 40%;
    
}

#step-3 .con > .bubble-wrap > .bubble:nth-child(3){
    top: 57%;
}

#step-3 .con > .bubble-wrap > .bubble:nth-child(4){
    top: 74%;
}


#step-3 .con > .bubble-wrap > .bubble > .img-box{
    width: 100%;
}

#step-3 .con > .bubble-wrap > .bubble > .img-box > .text-box > .text-content{
    position: absolute;
    width: 90%;
    top: 37%;
    left: 50%;
    font-size: 1.6em;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    /* white-space: nowrap; */
}

#step-3 .con > .bubble-wrap > .bubble > .img-box > .text-box > .list-num{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3em;
    transform: translateX(-50%) translateY(-50%);
}

#step-3 .con > .balloon{
    position: absolute;
    z-index: 6;
    top:20%;
    right: 10%;
    animation: balloon-float 1.5s ease-in-out 0s infinite alternate both;
}
/* step 3 end */
/* step 4 start */
#step-4{
    background-color: #FCF5DF;
    background-image: url('../img/bg-step4.png');
    background-repeat: no-repeat;
    background-position: 120% 150%;
}

#step-4 .con{
    margin-bottom: 200px;
}

#step-4 .con > .title-box{
    text-align: center;
   margin-bottom: 100px;
}

#step-4 .con > .title-box::after{
    content: "";
    display: block;
    clear: both;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 2px;
    background-color: #513535;
    opacity: 0.5;
    
}

#step-4 .con > .title-box > .step-count{
    left: 50%;
    transform: translateX(-50%);
}

#step-4 .con  > .slider{
    margin-bottom: 130px;
    padding: 0 50px;
}

#step-4 .con  > .slider .slide-wrap >.img-box{
    width: 320px;
    height: 320px;
    /* overflow: hidden; */
    background-color: #fff;
}

#step-4 .con  > .slider .slide-wrap > .img-box > img{
    width: 85%;
    object-fit: contain;   
}

#step-4 .con  > .slider .slide-wrap > .img-box > img[alt="빨간실"]{
    transform: translateX(-5px);
}

#step-4 .con  > .slider .slide-wrap > .img-box > img[alt="불카모스"]{
    transform: scale(1.1) translateX(10px);
}

#step-4 .con > .slider > .deco{
    position: absolute;
    left: 40px;
    bottom: 90%;
}

#step-4 .con  > .slider .slide-wrap > .text-box{
    width: 50.78125%;
    margin-left: 60px;
}

#step-4 .con  > .slider .slide-wrap > .text-box > .slide-title{
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 30px;
}


#step-4 .con  > .slider .slide-wrap > .text-box > p{
    font-size: 1.6em;
    line-height: 2em;
}

#step-4 .progress-bar-wrap{    
    position: absolute;
    z-index: 8;
    left: 50%;
    bottom: -130px;
    width: 45%;    
    transform: translateX(-50%);
    align-items: flex-start;
}

#step-4 .progress-bar-wrap > .bar-wrap{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFCD5A;
}

#step-4 .progress-bar-wrap > .bar-wrap > .bar{
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: #513535;
    
}

#step-4 .progress-bar-wrap > .bar-wrap > .bar.animated{
    width: 100%;
    animation: pro-ani 7s 1;
}   

#step-4 .progress-bar-wrap > .count{
    margin-top: 5px;
    font-size: 1.4em;
    
}

#step-4 .progress-bar-wrap > .count::after{
    content: "- 4";
    display: block;
    clear: both;
}



/* step 4 end */
/* step 4.5 start */
#fp-nav ul li:nth-child(6), #fp-nav ul li:last-child{
    display: none;
}


#step-4-5{
    /* padding: 100px 0; */
    background-color: #FFE48B;
    /* background-image: url('../img/bg-step-4-5.png'); */
}

#step-4-5::before,
#step-4-5::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 28%;
    background-repeat: repeat-x;
    background-size: 100% auto;
    background-position: bottom center;
    z-index: 0;
}

#step-4-5 .title-box{
   position: absolute;
   top: 130px;
   right: 0px;
   transform: translateY(-50%);  
}

#step-4-5::before {
    /* bg deco bottom */

    bottom: 99%;
    background-image: url(../img/bg-step1-top.png);


}

#step-4-5::after {
    /* bg deco bottom */
    top: 99%;
    background-image: url(../img/bg-step1-top.png);
    transform: rotate(180deg);


}

#step-4-5 .title-box > .section-title{
    font-family: 'MaplestoryOTFLight', 'Open Sans', 'Noto Sans KR', sans-serif;
    font-size: 3.8em;
    letter-spacing: 0.05em;
    text-align: right;
}

#step-4-5 .title-box > .line-deco{
    margin-top: 35px;

}

#step-4-5 .img-con {
 width: 100%;
}

#step-4-5 .img-con > .row{
    width: 100%;
}

#step-4-5 .img-con > .row:nth-of-type(1){
    margin-bottom: 20px;
}

#step-4-5 .img-con .img-box{
   
    height: 250px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#step-4-5 .img-con .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


#step-4-5 .img-con > .row:nth-of-type(1) > .img-box:nth-child(1), #step-4-5 .img-con > .row:nth-of-type(1) > .img-box:nth-child(2){
    width: 37.5%;
}

#step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(1){
    width: 18.75%;
}

#step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(2){
    width: 32.8125%;
}

#step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(3){
    width: 33.98%;
}

#step-4-5 .img-con > .row > .img-box:last-child{
    margin-right: 0;
}

#step-4-5 .img-con .img-box > .img-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    transition: opacity 0.3s;
}


#step-4-5 .img-con .img-box:hover > .img-description{
    opacity: 1;
}

#step-4-5 .img-con .img-box > .img-description > .text-box{
    color: #fff;
    font-size: 2.6em;
   
}

#step-4-5 .img-con .img-box > .img-description > .text-box > .region{
    font-size: 0.7em;
}     
/* step 4.5 end */
/* step 5 start */

#step-5 .con > .title-box::after{
    content: "";
    display: block;
    clear: both;
    position: absolute;
    bottom: -30px;
    left: 0;
    transform: translateX(5px);
    width: 70px;
        height: 2px;
    background-color: #513535;
    opacity: 0.5;
    
}

#step-5 .con > .card-con{
    margin-top: 100px;
}

#step-5 .con > .card-con > .card{
    width: 28.125%;
    /* overflow: hidden; */
    margin-right: 70px;
    border-radius: 50px;
    position: relative;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
}

#step-5 .con > .card-con > .card:hover{
    transform: scale(1.1);
}

#step-5 .con > .card-con > .card::after{
    content: '';
    display: block;
    padding-bottom: 104.1666666666667%;
    height: 0;
}


#step-5 .con > .card-con > .card.focus-out{
    transform: scale(0.9);
    opacity: 0.7;
}

#step-5 .con >  .card-con > .card > .card-wrap{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;      
}

#step-5 .con > .card-con > .card:last-child{
    margin-right: 0;
}

#step-5 .con > .card-con > .card .card-num{
    font-size: 4em;
    font-family: 'MaplestoryOTFBold', sans-serif;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 6;
    transform: translateX(-50%) translateY(-50%);
}

#step-5 .con > .card-con > .card .img-box{
    width: 100%;
    height: 60%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50px 50px 0 0;
}

#step-5 .con > .card-con > .card .img-box > img{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
    object-position: center;
}

#step-5 .con > .card-con > .card:nth-child(1) .img-box > img{
    transform: scale(0.9);
}

/* #step-5 .con > .card-con > .card:last-child .img-box > img{
   transform: scale(1.2);
} */


#step-5 .con > .card-con > .card .text-box{
    padding: 20px;
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: center;
}

#step-5 .con > .comment{
    margin-top: 70px;
}

#step-5 .con > .btn-red{
    margin: 5px auto 0px auto;
    width: fit-content;
}


/* step 5 end */
/* end start */
#end {
    background-image: url('../img/bg-decoration.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#end .con > .egg{
    width: 27%;
    position: relative;
    margin-top: 25%; 
}

#end .con>.egg>img {
    /* egg image */
    position: relative;
    z-index: 3;
    transform-origin: center bottom;
}

#end .con>.egg>img.egg-top{
    position:absolute;
    bottom: 37%;
    left:0;
    z-index: 0;
    transition: bottom 0.7s 0s;
}


#end.active .con>.egg>img.egg-top{
    bottom: 120%;
    transition: bottom 0.7s 1s;
}

#end .con>.egg>img.egg-bottom.back{
    position: absolute;
    width: 90%;
    top: 3px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

#end .con>.egg>img.pichu{
    position:absolute;
    bottom: 0;
    left:17%;
    transform: translateX(-50%);
    z-index: 1;    
    opacity: 0;
    transition: bottom 0.7s 0s, opacity 0.7s 0s;
    transform-origin: 30% bottom;
    animation: egg-shake 1s ease-in-out 0s infinite alternate;
}

#end.active .con>.egg>img.pichu{
    bottom: 50px;
    opacity: 1;
    transition: bottom 0.7s 1.7s, opacity 0.7s 1.7s;
}


#end .con > .egg > .star{
    position: absolute;
    opacity: 0;
    width: 23%;
    transition: opacity, top , left, bottom , right;
    transition-duration: 0.7s;
    transition-delay: 0s;
}

#end.active .con > .egg > .star{
    transition-delay: 2s;
}

#end.active .con > .egg > .star{
    opacity: 1;
}


#end .con > .egg > .star.left{
    top: -60%;
    left: 10%;
}

#end.active .con > .egg > .star.left{
    top: -120%;
    left:-22%;
}

#end .con > .egg > .star.right{
    bottom: 60%;
    right: 10%;
}

#end.active .con > .egg > .star.right{
    bottom: 0%;
    right: -22%;
}

#end .con > .text-box{
    margin-top: 50px;
    font-size: 1.6em;
    line-height: 1.7em;    
}

/*end end*/
/* footer start */

footer{ 
    color: #FFCD5A;
    background: #513535; 
    position: relative; 
}

footer .con{
    height: 200px;
    padding: 50px 0;
}

footer .con>.logo img {
    width: auto;
    height: 50px;
}

footer .con>.logo:hover {
    transform-origin: center bottom;
    animation: egg-shake 0.3s ease-in-out 0s infinite alternate;
}

footer .con > .site{
    margin-top: 20px;
    font-size: 1.4em;
}

footer .con > .site > li{
    
    position: relative;
}

footer .con > .site > li > a{
    padding: 0 15px;
}


footer .con > .site > li::after{
    display: inline-block;
    content: "";
    clear: both;
    width:1px;
    height: 10px;
    position: absolute;
    top: 0;
    transform: translateX(50%) translateY(50%);
    background-color: #FFCD5A;
}

footer .con > .site > li:first-child:after{
    display: none;
}

footer .con > .top-btn{
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #372E2E;
}

/* footer end */

@media (max-width: 1401px){
    #fp-nav.fp-left{
        left: 30px;
    }
}

@media (max-width: 1280px){

    html,body{
        font-size: 9px;
    }

    .con{
        padding: 0 60px;
    }

    header>.con{
        padding: 0 30px;
    }

    .deco{
        width: 10%;
    }

    #step-1 .con .img-wrap>.deco{
        right: -50px;
    }

    #step-1 .con .img-wrap>.metamong{
        width: 30%;
        left: -10%;
        bottom: -10%;
    }

    #step-4-5 .title-box{
        right: 30px;
    }

    #step-4-5 .underline::before{
        height: 12px;
    }


    #step-5 .con > .card-con > .card{
        width: 30%;
        margin-right: 35px;
    }

    #fp-nav ul li{
        width: 15px;
        height: 15px;
    }

    #fp-nav ul li, .fp-slidesNav ul li{
        margin: 15px 0;
    }

    #fp-nav ul li .fp-tooltip{
        top: 1px;
    }
    
    #fp-nav ul li .fp-tooltip.fp-left{
        left: 20px;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span{
        width: 15px;
        height: 15px;
    }

    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
        width: 15px;
        height: 18px;
    }

    #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
        width: 15px;
        height: 15px;
    }

    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
        width: 15px;
        height: 18px;}

}

@media (max-width: 1151px){



    #main .con > .egg{
        width: 37%;
        font-size: 8px;
    }

    #main .con>.egg::after{
        width: 150%;
    }

    #step-5 .con > .card-con > .card .text-box{
        font-size: 1.4em;
    }
}

@media (max-width: 1000px){

    .slick-arrow img{
        width: 30px;
    }

    #main .con > .egg{
        width: 40%;
    }

    #step-1 .con>.text-box{
        margin-right: 60px;
    }



    #step-1 .con .img-wrap>.deco{
        right: -40px;
        width: 15%;
    }

    #step-4 .con > .slider > .deco{
        left: 0px;
        bottom: 95%;
    }

    #step-5 .con > .card-con > .card::after{
        padding-bottom: 120%;
    }

    #step-5 .con > .card-con > .card .text-box{
        padding: 10px;
    }
}

@media (max-width: 989px){



    #main .con > .egg > .title-box > h1{
        font-size: 2.6em;
        }



        #step-2 .con>.card-slide>.card-name{
            font-size: 2.7em;
        }

    #step-4 .con > .slider .slide-wrap >.img-box{
        width: 280px;
        height: 280px;
    }

    #step-4-5 .title-box > .section-title{
        font-size: 3em;
    }

}

@media (max-width: 800px){
 html,body{
     font-size: 8px;
 }
}

@media (min-width: 770px) and (max-width: 1280px){

    #main .con>.egg{
        width: 28%;
    }
    #main .con > .egg > .title-box > h1{
        padding: 0;
    }

    #step-1 .con > .text-box{
        margin-right: 70px;
    }

    #step-2 .con>.title-box{
        margin-bottom: 30px;
    }

    #step-2 .con>.card-slide{
        /* width: 90%;
        margin: 0 auto; */
    }

    #step-2 .con>div.comment{
        margin-top: 40px;
    }

    #step-4 .con{
        margin-bottom: 100px;
    }

    #step-4 .con > .title-box{
        margin-bottom: 30px;
    }

    #step-4 .con > .title-box::after{
        bottom: -15px;
    }

    #step-4 .con > .slider{
        margin-bottom: 50px;
    }

    #step-5 .con > .card-con{
        margin-top: 70px;
        padding: 0 100px;
    }

    #step-5 .con > .comment{
        margin-top: 30px;
    }

    #end .con > .egg{
        width: 23%;
        margin-top:23%;
    }


    #end .con > .text-box{
        margin-top: 30px;
    }
    

}

@media (min-width: 770px){



    #step-5 .fp-tableCell{
        height: 100vh !important;
    }
}

@media (max-width: 769px){

    /* html,body{
        font-size: 9px;
    } */
    /* .con{
        padding: 0 25px;
    } */

    .mb{
        display: block;
    }

    .pc{
        display: none;
    }

    .iScrollIndicator{
       opacity: 0;
    }

    #fp-nav ul li{
        width: 12px;
        height: 12px;
    }

    #fp-nav ul li, .fp-slidesNav ul li{
        margin: 15px 0;
    }

    #fp-nav ul li .fp-tooltip{
        top: 1.5px;
    }
    
    #fp-nav ul li .fp-tooltip.fp-left{
        left: 20px;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span{
        width: 12px;
        height: 12px;
    }

    #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
        width: 12px;
        height: 12px;
    }

    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
        width: 12px;
        height: 15px;
    }

    #fp-nav.fp-left{
        left: 20px;
    }

    


    .comment img{
        width: 10%;
    }

    div.comment>div.text-box{
        font-size: 1.4em;
    }

    .section-title{
        font-size: 3.2rem;
    }

    .deco{
        width: 15%;
    }

    .line-deco{
        width: 15px;
    }

    #main .con > .egg{
        width: 50%;
    }

    /* #main .con > .egg > .title-box > h1{
        font-size: 2.1em;
    } */

    header>.con>.logo img{
        height: 40px;
    }
    
    #step-1 .con{
        flex-direction: column;
    }

    #step-1 .con>.text-box{
        margin-right: 0;
    }

    #step-1 .con>.text-box>.line-deco{
        margin: 20px auto;
    }

    #step-1 .con .img-wrap{
        margin-top: 50px;
    }

    #step-1 .con .img-wrap>.metamong{
        width: 25%;
        left: unset;
        right: -5%;
        bottom: -10%;
    }


    #step-2 .con>.title-box{
        margin-bottom: 20px;
    }

    #step-2 .con>.card-slide{
        padding: 0 100px;
    }

    #step-2 .con>.card-slide>.card-name{
        width: 70%;
    }

    #step-2 .slick-arrow.slick-prev{
        left: 7%;
    }

    #step-2 .slick-arrow.slick-next{
        right: 7%;
    }

    #step-2 .con>div.comment{
        margin-top: 50px;
    }

    #step-3 .con{
        height: 239.24vw !important;
    }

    #step-3 .con::after{
        background-size: 200% auto;
        background-position: 61% 0%;
    }

    #step-3 .con > .bubble-wrap > .bubble{
        width: 50%;
        left: 52%;
    }

    #step-3 .con > .bubble-wrap > .bubble:nth-child(2n){
        left: 34%;
    }

    #step-3 .con > .balloon{
        width: 25%;
        right: 3%;
    }

    #step-4 .con{
        margin-bottom: 0;
    }

    #step-4 .section-slide .slide-wrap{
        flex-direction: column;
    }

    

    #step-4 .con > .slider .slide-wrap > .text-box{
        width: auto;
        text-align: center;
        margin: 50px 0 0 0;

    }

    #step-4 .con > .slider .slide-wrap >.img-box{
        width: 250px;
        height: 250px;
    }

    #step-4 .slick-prev, #step-4 .slick-next {
        top: 25%;
    }

    #step-4 .slick-arrow.slick-next{
        right: 15%;
    }

    #step-4 .slick-arrow.slick-prev{
        left: 15%;
    }

    #step-4 .con > .slider > .deco{
        left: 90px;
        bottom: 94%;
    }

    #step-4 .con > .slider .slide-wrap > .text-box > .slide-title{
        font-size: 3rem;
    }

    #step-4 .progress-bar-wrap{
        bottom: -70px;
    }

    #step-4-5 .title-box{
        transform: none;
        position: static;
        margin-bottom: 70px;
    }

    #step-4-5 .img-con > .row:nth-of-type(1) > .img-box:nth-child(1), #step-4-5 .img-con > .row:nth-of-type(1) > .img-box:nth-child(2){
        width: auto;
    }

    #step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(1), #step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(2), #step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(3){
        width: auto;
    }

    #step-5 .con{
        padding-top: 200px;
        padding-bottom: 200px;
    }

    #step-5 .con > .card-con{
        flex-direction: column;
        margin-top: 70px;
        font-size: 10px;
    }

    #step-5 .con > .card-con > .card{
        width: 80%;
        margin-right: 0;
        margin-bottom: 30px;
    }


    #step-5 .con > .card-con > .card::after{
        padding-bottom: 35%;
    }

    #step-5 .con > .card-con > .card > .card-wrap{
        display: flex;
        align-items: center;
    }

    #step-5 .con > .card-con > .card .img-box{
        width: 48%;
        height: 100%;
        border-radius: 50px 0 0 50px;
    }

    #step-5 .con > .card-con > .card .text-box{
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    #step-5 .con > .comment{
        margin-top: 20px;
    }

    #end .con > .egg{
        width: 43%;
        margin-top: 40%;
    }

    footer .con > .top-btn{
        display: none;
    }

    footer .con>.logo img{
        height: 40px;
    }


}

@media (max-width: 669px){

    .big {
        font-size: 1.1em;
    }

    .slick-arrow img{
        width: 15px;
    }

    #main .con>.scroll-down>svg{
        width: 30%;
    }

    #main .con>.scroll-down>.text-box{
        margin-top: 0;
    }

    #step-1 .con .img-wrap>.deco{
        right: -55px; 
    }

    #step-1 .con>.text-box>.text-content{
        font-size: 1.4em;
    }

    #step-3 .con{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #step-3 .con > .bubble-wrap > .bubble > .img-box > .text-box > .list-num{
        top: -5%;
        right: 0%;
        font-size: 1.5em;

    }

    #step-3 .con > .bubble-wrap > .bubble > .img-box > .text-box > .text-content{
        font-size: 1.3em;
    }

    #step-4 .slick-arrow.slick-prev{
        left: 5%;
    }

    #step-4 .slick-arrow.slick-next{
        right: 5%;
    }

    #step-4 .con > .title-box{
        margin-bottom: 30px;
    }

    #step-4 .con > .title-box::after{
        bottom: -15px;
        width: 30px;
    }

    #step-4 .con > .slider .slide-wrap > .text-box > p{
        font-size: 1.5em;
        line-height: 1.7em;
    }

    #step-4-5{
        padding: 50px 0;
    }
    
}

@media (max-width: 641px){
    #main .con > .egg{
        font-size: 7px;
    }
}

@media (max-width: 601px){
    #main .con > .egg{
        width: 55%;
        font-size: 6.5px;
    }
    #main .con>.egg>.title-box{
        padding: 20%;
    }

    #main .con>.egg>.title-box>h1{
        padding: 20px;
    }

    #step-3 .con > .balloon{
        display: none;
    }

    
}

@media (max-width: 551px){

    html,body{
        font-size: 8px;
    }


    .con{
        padding: 0 30px;
    }    

    .btn-red{
        padding: 10px 20px;
        
    }

    #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip{
        opacity: 0;
    }

    #step-2 .con>.card-slide{
        padding: 0 30px;
    }

    #step-2 .con>.card-slide>.card-name{
        width: 90%;
        font-size: 2.7em;
    }

    #step-3 .con{
        padding-top: 70px;
    }

    #step-4 .con > .slider{
        padding: 0;
    }

    #step-4 .con > .slider .slide-wrap >.img-box{
        width: 200px;
        height: 200px;
    }

    

    #step-4 .progress-bar-wrap{
        bottom: -50px;
        width: 70%;
    }

    #step-4 .progress-bar-wrap > .bar-wrap{
        height: 7px;
    }

    #step-4 .con > .slider .slide-wrap > .text-box > p{
        font-size: 1.4em;
    }


    /* #step-4-5::before, #step-4-5::after{
        display: none;
    } */

    #step-4-5 .title-box{
        height: 35px;
    }

    #step-4-5 .img-con > .row{
        flex-direction: column;
        
    }



    #step-4-5 .img-con > .row:nth-of-type(1){
        margin-bottom: 0;
    }
    #step-4-5 .img-con .img-box{
        width: 100%;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
        border-radius: 25px;
    }

    #step-4-5 .img-con .img-box > .img-description > .text-box{
        font-size: 2.3em;
    }

    #step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(1), #step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(2), #step-4-5 .img-con > .row:nth-of-type(2) > .img-box:nth-child(3){
        width: 100%;
    }

    #step-5 .con{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #step-5 .con > .title-box::after{
        bottom: -15px;
        width: 30px;
    }

    #step-5 .con > .card-con{
        margin-top: 35px;
    }

    #step-5 .con > .card-con > .card{
        width: 100%;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    

    #step-5 .con > .card-con > .card::after{
        padding-bottom: 45%;
    }

    #step-5 .con > .card-con > .card .img-box{
        border-radius: 25px 0 0 25px;
    }

    #step-5 .con > .card-con > .card .card-num{
        font-size: 2em;
    }

    #step-5 .con > .card-con > .card .text-box{
        font-size: 1.2em;
    }

    #step-5 .con > .btn-red{
        margin: 20px auto 0px auto;
    }

    footer .con{
        height: 150px;
    }

    footer .con > .site > li > a{
        padding: 0 8px;
    }

    footer .con > .site > li::after{
        height: 7px;
    }
}

@media (max-width: 476px){



    .section-title{
        font-size: 2.5rem;
    }

    .step-count{
        font-size: 1.7rem;
    }

    .outline-yellow{
        border: 16px solid #FFCD5A;
    }

    .underline::before{
        height: 14px;
    }

    .underline.small::before{
        height: 6px;
        width: 100%;
    }

    /* .comment img{
        width: 25%;
    } */

    #fp-nav ul li{
        width: 8px;
        height: 8px;
    }

    #fp-nav ul li, .fp-slidesNav ul li{
        margin: 10px 0;
    }

    #fp-nav ul li .fp-tooltip{
        top: 1.5px;
    }
    
    #fp-nav ul li .fp-tooltip.fp-left{
        left: 20px;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span{
        width: 8px;
        height: 8px;
    }

    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
        width: 8px;
        height: 11px;
    }

    #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
        width: 8px;
        height: 8px;
    }


    header >.con{
        height: 50px;
        padding: 0 20px;
    }

    header>.con>.logo img{
        height: 25px;
    }

    header>.con>.sns-menu{
        font-size: 1.5em;
    }

    header>.con>.sns-menu>li>a{
        margin-right: 15px;
    }

    

    #main .con>.egg{
       margin-bottom: 15%;
    }

    #main .con > .egg > .title-box > h1{
        font-size: 2.2em;        
        padding: 30px;
    }

    #step-1 .step-count{
        left: 50%;
        transform: translateX(-50%);
    }

    #step-1 .con .img-wrap{
        margin-top: 30px;
    }

    #step-1 .con>.text-box{
        margin-right: 0;
        text-align: center;
    }

    #main .con>.scroll-down>svg{
        width: 25%;
    }

    #step-4 .con > .slider{
        margin-bottom: 50px;
    }

    #step-4 .con > .slider .slide-wrap > .text-box{
        margin: 30px 0 0 0;
    }

    #end .con > .egg{
        width: 47%;
    }

    #end .con > .text-box{
        font-size: 1.4em;
        line-height: 1.6em;
        margin-top: 30px;
    }

    footer{
        font-size: 7px;
    }

    footer .con{
        height: 150px;
    }

    footer .con .logo img{
        height: 30px;
    }

    footer .con > .site{
        margin-top: 10px;
    }
    


}

@media (max-width: 450px){

    #step-3 .con > .bubble-wrap > .bubble{
        width: 60%;
        left: 47%;
    }

    #step-3 .con > .bubble-wrap > .bubble:nth-child(2n){
        left: 31%;
    }

    #step-3 .con > .bubble-wrap > .bubble > .img-box > .text-box > .text-content{
        font-size: 1.25em;
    }


    #step-4 .con > .slider > .deco{
        left: 40px;
    }

    #step-4 .con > .slider .slide-wrap > .text-box > .slide-title{
        font-size: 2.3rem;
        margin-bottom: 17px;
    }

    #step-4 .con > .slider .slide-wrap >.img-box{
        width: 175px;
        height: 175px;
    }

    #step-4 .con > .slider .slide-wrap > .text-box > p{
        font-size: 1.3em;
    }

    
}

@media (max-width: 400px){
    .con{
        padding: 0 20px;
    }

    .mb-s{
        display: block;
    }
}

@media (max-width: 321px){

    #main .con > .egg > .title-box > h1{
        font-size: 1.8em;
    }
}

@media (max-width: 301px){

}

/* section end */