@charset "UTF-8";

/* font */

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* normalize */

*{    
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #FFCD5A;
    font-family: 'MaplestoryOTFLight', 'MaplestoryOTFBold', 'Open Sans', 'Noto Sans KR', sans-serif ;
    color: #513535;
    font-size: 10px;
    overflow-x: hidden;
}

a,img{
    display: block;
}

/* animation */
@keyframes shine-effect {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

@keyframes egg-shake {
    0%{
        
        transform: rotateZ(3deg);
    }
    100%{
        transform: rotateZ(-3deg);
    }
}

@keyframes scroll-down{
    0%{
        transform: translateX(13.424px) translateY(9px);
        opacity: 1;
    }
    100%{
        transform: translateX(13.424px) translateY(15px);
        opacity: 0.3;
    }
}

/* lib */

.con{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.margin-0-auto{
    margin: 0 auto;
}

.height-100p{
    height: 100%;
}

.img-box img{
    width: 100%;
}

.bold{
    font-family: 'MaplestoryOTFBold', sans-serif;
}

.sans{
    font-family: 'Open Sans', sans-serif;
}

.sans-kr{
    font-family: 'Noto Sans KR', sans-serif ;
}

.text-ai-c{
    text-align: center;
}


.flex{
    display: flex;
}

.flex-jc-a{
    justify-content: space-around;
}

.flex-jc-b{
    justify-content: space-between;
}

.flex-jc-c{
    justify-content: center;
}

.flex-ai-c{
    align-items: center;
}

.flex-1-0-0{
    flex: 1 0 0;
}

.flex-d-c{
    flex-direction: column;
}

/* cus */

/* header start */
header{   
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
}

header > .con{
    width: 100%;
    height: 100px;
}

header > .con > .logo img{
   width: auto;
    height: 50px;
} 

header > .con > .logo:hover{
    transform-origin: center bottom;
    animation: egg-shake 0.3s ease-in-out 0s infinite alternate;
}

header > .con > .sns-menu{
    font-size: 2em;
}

header > .con > .sns-menu > li > a{
    opacity: 0.6;
    margin-right: 30px;
    transition: opacity 0.3s;
}

header > .con > .sns-menu > li:hover > a{
    opacity: 1;
}

header > .con >  .sns-menu > li:last-child > a{
    margin-right: 0;
}

/* header end */
/* fullpage navigation start */
    #fp-nav.fp-left{
        left: 60px;
    }

    #fp-nav ul li {
        width: 20px;
        height: 20px;
       
        
    }

    #fp-nav ul li .fp-tooltip{
        color: #513535;
        font-family: 'MaplestoryOTFLight', 'Open Sans', 'Noto Sans KR', sans-serif ;
        top: 4px;
    }

    #fp-nav ul li .fp-tooltip.fp-left{
        left: 30px;
    }

    #fp-nav ul li, .fp-slidesNav ul li{
        margin: 20px 0;
    }

    #fp-nav ul li a span{
        background-color: transparent;
        border-radius: unset;
        top: unset;
        left: unset;
        opacity: 0.5;
    }

    #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
        width: 20px;
        height: 20px;
        margin: 0;
    }
    #fp-nav ul li a span, .fp-slidesNav ul li a span{
        width: 20px;
        height: 20px;
        margin: 0;
    }

    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
        width: 20px;
        height: 23px;
        margin: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
    }

    #fp-nav ul li a span{
        background-image: url(img/icon-pokeball.png);
    }

    #fp-nav ul li a.active span{
        background-image: url(img/icon-pokeball-selected.png);

        
    }

/* fullpage navigation end */
/* section start */
/* main start */

#main{
    background-image: url('img/bg-decoration.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#main .con > .egg{
    width: 33%;
    position: relative;
    margin-bottom: 10%;
}

#main .con > .egg > img{
    /* egg image */
    position: relative;
    z-index: 1;
    transform-origin: center bottom;
    animation: egg-shake 0.8s ease-in-out 0s infinite alternate;
}

#main .con > .egg::after{
    /* egg shine */
    content:"";
    width: 200%;
    height: 100%;    
    display: block;
    clear: both;
    background-size: contain;
    background-image: url(img/img-shine.png);
    background-position: center center;
    background-repeat: no-repeat; 
    position: absolute;
    top: -20%;
    left:55%;
    transform: translateX(-50%);
    animation: shine-effect 1s ease-in-out 0s infinite alternate;
}

#main .con > .egg > .title-box{
    width: 150%;
    background-image: url(img/img-title-deco.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;    
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main .con > .egg > .title-box > h1{
    padding: 100px;
    font-size: 3.4em;
    color: #fff;
    margin-bottom: 3%;
    white-space: nowrap;
}

#main .con > .egg > .title-box > h1 > span{
    font-size: 1.4em;
    color: #FFE223;
}

#main .con > .scroll-down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#main .con > .scroll-down > svg{
    position: relative;
}

#main .con > .scroll-down #circle1{
    position: absolute;
    transform: translateX(13.424px) translateY(9px);
 animation: scroll-down 1s ease-in-out 0s infinite normal both;
}

#main .con > .scroll-down > .text-box{
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 700;
}

/* main end */
/* step 1  start*/


/* step 1 end */

/* section end */
